<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <div class="header-links">
        <a class="link" href="#about" data-scroll>About Me</a>
        <a class="link" href="#projects" data-scroll>Projects</a>
        <a class="link" href="https://www.linkedin.com/in/john-quach/">LinkedIn</a>
        <a class="link" href="mailto:john.dv.quach@gmail.com">Email</a>
        <a class="link" href="https://twitter.com/jbond034">Twitter</a>
        <a class="link" href="https://jdvquach.com/assets/John_Quach.pdf" download>Resume</a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
