<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="farmShare" src="{{ "/assets/img/farmshare.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> FarmShare </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Application for hobby farmers to trade or share their excess supplies to charities or other hobby farmers. Built with Ruby On Rails, 3rd Party APIs, PostgreSQL and React(partial).</p>
    <a class="project-link" href="https://farmshare01.herokuapp.com/">Check it out</a>
    <a class="project-link" href="https://github.com/jdvquach/farmshare">Github</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="lifeTips" src="{{ "/assets/img/lifetips.JPG" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> LifeTips </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Application with registered users to post and comments on useful lifehacks. Built with Ruby On Rails, HTML, CSS, PostgreSQL.</p>
    <a class="project-link" href="https://lifetips.herokuapp.com/">Check it out</a>
    <a class="project-link" href="https://github.com/jdvquach/life-tips">GitHub</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="trippo" src="{{ "/assets/img/trippo.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Trippo </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Application for tourists planning a trip to New South Wales. This was a group project. Built with Ruby On Rails, 3rd Party APIs, PostgreSQL and Bootstrap, AJAX, JavaScript,CSS, HTML.</p>
    <a class="project-link" href="https://trippo00.herokuapp.com/">Check it out</a>
    <a class="project-link" href="https://github.com/jdvquach/project2">GitHub</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="ticTacToe" src="{{ "/assets/img/ticTacToe.JPG" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Tic Tac Toe </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>My first JavaScript game.  A two player game with score tracking board. Built with HTML, CSS, JavaScript, JQuery.</p>
    <a class="project-link" href="https://jdvquach.github.io/tic-tac-toe/">Demo</a>
    <a class="project-link" href="https://github.com/jdvquach/tic-tac-toe">GitHub</a>
  </div>
</div>
